* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.tablecentered {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: cadetblue;
}

.header {
  display: grid;
  grid-column: 100px auto 100px;
  padding: 20px;
  font-family: "DM Sans", sans-serif;
  background-color: cadetblue;
}

.headertext {
  color: whitesmoke;
  grid-column: 2;
  font-size: 20pt;
}

table {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.noBricka {
  background-color: #b48d51;
}

td {
  background-color: #502900;
  width: 80px;
  height: 80px;
  text-align: center;
}

.Black_Bricka {
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: black;
  border-radius: 55px;
}

.Red_Bricka {
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #e62020;
  border-radius: 55px;
}

.LetYouKnow {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 100px;
  font-family: "DM Sans", sans-serif;
  background-color: cadetblue;
  padding: 18px;
}

.RED_TURN {
  grid-column: 2;
  font-size: 20pt;
  justify-self: center;
  color: whitesmoke;
}

.divide {
  grid-column: 3;
  font-size: 20pt;
  justify-self: center;
}

.BLACK_TURN {
  grid-column: 4;
  font-size: 20pt;
  justify-self: center;
  color: dimgray;
}
